#html-input,
.output-wrapper {
    width: 100%;
    display: block;
    margin: auto;
    min-height: 330px;    
    border: inset;
}

#html-input {    
    background-color: #000000;
    color: #ffffff;
}

#html-output {
    height: 100%;
    width: 100%;
    border: none;
}

.output-wrapper {
    resize: both;
    overflow: auto;
    background-color: #ffffff;
}

fieldset {
    margin-top: 20px;
    margin-left: 2.8%;
    border: none;
}

.btn {
    height: 30px;
    width: 21%;
    min-width: 75px;
    max-width: 144px;
    margin-right: 1.9%;
    font-weight: 900;
    border-radius: 9%;
    background-color: ButtonFace;/* Needed for linux compatibility */
    background-color: #D4D0C8;
    border-color: #E3E3E3;
}

@media only screen and (min-width: 640px) {

    #html-input,
    .output-wrapper {
        width: 94%;
    }
}