#lst-input,
.output-wrapper {
    width: 100%;
    display: block;
    min-height: 330px;    
    border: inset;
}

#lst-input {    
    background-color: #000000;
    color: #ffffff;
}

#lst-output {
    height: 100%;
    min-height: 330px;
    width: 100%;
    border: none;
}

.output-wrapper {
    height: 600px;
    resize: both;
    overflow: auto;
    background-color: #ffffff;
}

fieldset {
    margin-top: 20px;    
    border: none;
}

.btn {
    height: 30px;
    width: 21%;
    min-width: 75px;
    max-width: 144px;
    margin-right: 1.9%;
    font-weight: 900;
    border-radius: 9%;
    background-color: ButtonFace;/* Needed for linux compatibility */
    background-color: #D4D0C8;
    border-color: #E3E3E3;
    cursor: pointer;
}

@media only screen and (min-width: 640px) {

    #lst-input,
    .output-wrapper {
        width: 92%;
    }

    #lst-input {
        margin-left: 1.8em;
    }

    .output-wrapper {
        margin-left: 1.5em;
    }

    fieldset {
        margin-left: 3.7%;
    }
}

@media only screen and (min-width: 800px) {
    #lst-input,
    .output-wrapper {
        width: 92.5%;
    }

    #lst-input {
        margin-left: 2.1em;
    }

    .output-wrapper {
        margin-left: 1.8em;
    }
}

@media only screen and (min-width: 1024px) {

    #lst-input,
    .output-wrapper {
        width: 94.5%;
    }

    fieldset {
        margin-left: 3%;
    }
}

@media only screen and (min-width: 1280px) {

    #lst-input,
    .output-wrapper {
        width: 94%;
    }

    #lst-input {
        margin-left: 2.6em;
    }

    .output-wrapper {
        margin-left: 2.2em;
    }

    fieldset {
        margin-left: 2.8%;
    }
}

@media only screen and (min-width: 1280px) {
    #lst-input,
    .output-wrapper {
        width: 96%;
    }
}