article, aside, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

 * {
	margin: 0;
	padding: 0;
}

noscript h3 {
    color: red;
}

body {
    font-family: Arial, "Microsoft Sans Serif Regular", Verdana, sans-serif;
    color: #000000;
    background-color: #c4c6b1;
}

nav {
    text-align: center;
    background-color: #c4c6b9;
    padding: 5px;
}

nav li {        
    display: inline;            
    font-size: 1.2em;
    list-style-type: none;
}       

h1 {
    text-align: center;
    font-size: 1.6em;
    background-color: #2c2f17;
    color: #e8bc62;
}

h2, h3, h4 {
    margin: .5em;
}

h2 {
    font-size: 1.4em;
    margin-left: .3em;
}

h3 {
    font-size: 1em;
}

h4 {
    font-size: .8em;
}

p {
    margin: .6em;
    margin-left: 2.1em;
    font-size: .7em;
}

li, table, img, textarea, dt, dd {
    margin: .8em;
}

img {
    margin-left: 1.4em;
}

textarea {
    margin-left: 1.6em
}

li {
    margin-left: 2.5em;
}

ol, ul {
    font-size: .6em;
}

ol li {
    list-style-type: decimal;
}

li {
    list-style-type: none;
}

table {
    margin-left: 1.6em;
    text-align: center;
    font-size: 0.9em; 
    border-collapse: collapse;
}

td, th {
    padding: 5px;
    border: 1px solid #000000;
}

a:link {
    color: green;
}

a:visited {
    color: #6D8EBF;
}

a:hover {
    color: #6D8EBF;
    background: #387021;
}

pre {    
    font-size: .8em;
    font-weight: 600;
}

.headings {
    color: white;
    background-color: dimgray;
}

.linksToTop {
    text-align: right;
    font-style: italic;
    font-weight: 700;
}

footer {
    padding: 5px;
    text-align: center;
}

.linksToTop, footer {
    font-size: .6em;
}

nav, table, footer {
    border: 1px ridge #2c2f17;
    border-radius: 4px 4px 4px 4px;
    background-color: #c4c6b9;
}

.iframe {
    min-height: 21px;
    height: 51vh;
    width: 259px;
    position: relative;
    display: block;
    margin: auto;
    resize: vertical;
}

.dbl-table {
    margin-left: 0;
    background-color: #c4c6b1;
    border: none;
}

.noborder {
    border: none;
}


.hidden {
    display: none;
}

.visible {
    display: inline;
}

@media only screen and (min-width: 480px) {
    .iframe {
        position: fixed;
        right: 0;
    }
}

@media only screen and (min-width: 640px) {
    .iframe {
        right: 5px;
    }
}

@media only screen and (min-width: 800px) {
    nav li {
        font-size: 1.4em;
    }
    h1 {        
        font-size: 2.2em;        
    }
    h2 {
        font-size: 1.6em;
    }
    h3 {
        font-size: 1.2em;
    }
    h4 {
        font-size: 1em;
    }    
    img {
        margin-left: 1.8em;
    }
    textarea {
        margin-left: 2.1em;
    }
    p {
        font-size: 1em;
        margin-left: 2em;
    }
    table {
        margin-left: 2.2em;
    }
    ol, ul {
        font-size: .8em;
    }
    pre {
        font-size: 1.1em;
        font-weight: 400;
    }
    .linksToTop, footer {
        font-size: .7em;
    }
    .iframe {   
        right: 9%;
    }    
}

@media only screen and (min-width: 1280px) {
    nav li {
        font-size: 1.6em;
    }
    h1 {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 2.4em;        
    }
    h2, h3, h4 {
        margin: 1.1em;
    }        
    h2 {
        margin-left: .8em;
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.4em;
    }
    h4 {
        font-size: 1.2em;
    }
    li, table, img, textarea, dt, dd {
        margin: 1.6em;
    }
    img {
        margin-left: 2.2em;
    }
    textarea {
        margin-left: 2.6em;
    }
    p {
        margin: 1.3em;
        margin-left: 2.2em;
        font-size: 1.2em;
    }
    li, table {
        margin-left: 2.6em;
    }
    ol, ul {
        font-size: 1em;
    }
    pre {
        font-size: 1.3em;
    }
    .linksToTop, footer {
        font-size: .8em;
    }
    .iframe {
        right: 15%;
    }   
}

@media only screen and (min-width: 1366px) {
    .iframe {
        /* right: 0;
        width: 48%; */
    }     
}