article, aside, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

 * {
	margin: 0;
	padding: 0;
}

noscript h3 {
    color: red;
}

body {
    font-family: Arial, "Microsoft Sans Serif Regular", Verdana, sans-serif;
    font-size: small;
    color: black;
    background-color: #c4c6b1;
}

nav {
    text-align: center;
    background-color: #c4c6b9;
    border-width: 1px;
    border-style: ridge;
    border-radius: 4px 4px 4px 4px;
    border-color: #2c2f17;
    padding: 5px;
}

nav li {        
    display: inline;            
    font-size: 1.2em;
    list-style-type: none;
}       

h1 {
    text-align: center;
    font-size: 1.8em;
    background-color: #2c2f17;
    color: #e8bc62;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1em;
}

h2, h3, h4 {
    margin: .6em;
}

p, li, table, img, textarea, dt, dd {
    margin: .8em;
}

ol, ul {
    font-size: .8em;
}

ol li {
    list-style-type: decimal;
}

li {
    list-style-type: none;
}

table {
    font-size: 0.9em;
    text-align: center;
    background-color: #c4c6b9;
    border-width: 1px;
    border-style: ridge;
    border-radius: 4px 4px 4px 4px;
    border-color: #2c2f17;
    border-collapse: collapse;
}

td, th {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    padding: 5px;
}

a:link {
    color: green;
}

a:visited {
    color: #6D8EBF;
}

a:hover {
    color: #6D8EBF;
    background: #387021;
}

pre {    
    font-size: .85em;
    font-weight: 700;
}

.headings {
    color: white;
    background-color: dimgray;
}

.linksToTop {
    font-style: italic;
    font-size: 0.8em;
    text-align: right;
}

.noborder {
    border: none;
}

.iframe {  
    /* height: 606px; */
    height: 51vh;
    width: 259px;
    position: relative;
    display: block;
    margin: auto;
    resize: vertical;
}

footer {
    font-size: 0.8em;
    text-align: center;
    border-width: 1px;
    border-style: ridge;
    border-radius: 4px 4px 4px 4px;
    border-color: #2c2f17;
    background-color: #c4c6b9;
    padding: 5px;
}

.hidden {
    display: none;
}

.visible {
    display: inline;
}

@media only screen and (min-width: 481px) {
    .iframe {
        position: fixed;
        right: 0;
    }
}

@media only screen and (min-width: 570px) {
    h1 {
        font-size: 2em;
    }
    h2 {
        font-size: 1.8em;
    }
    h3 {
        font-size: 1.4em;
    }
    h4 {
        font-size: 1.1em;
    }
    .iframe {   
        right: 5px;
    }
}

@media only screen and (min-width: 640px) {
    h1 {
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 2.4em;        
    }
    h2, h3, h4 {
        margin: 1.2em;
    }    
    p, li, table, img, textarea, dt, dd {
        margin: 1.6em;
    }
    ol, ul {
        font-size: 1.2em;
    }
    pre {
        font-size: 1.3em;
        font-weight: 400;
    }
}

@media only screen and (min-width: 800px) {
    nav li {        
        margin-right: 20px;
        font-size: 1.4em;
    } 
    .iframe {
        right: 15px;
    }
}

@media only screen and (min-width: 1280px) {
    .iframe {
        right: 15%;
    }   
}

@media only screen and (min-width: 1680px) {
    .iframe {
        right: 0;
        width: 48%;
    } 
}

/* @media only screen and (min-width: 1920px) {
} */